#editBox {
    position: absolute;
    top: 100px;
    right: 51%;
    bottom: 35%;
    left: 20px;
}

#editor {
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
}

#outputBox {
    position: absolute;
    top: 100px;
    right: 20px;
    bottom: 35%;
    left: 51%;
}

#output {
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0;
}

#submit {
    position: absolute;
    bottom: 29%;
    right: 52%;
}

#nextButton {
    position: absolute;
    bottom: 29%;
    left: 90%;
    visibility: hidden;
}