#nextButton {
    position: absolute;
    bottom: 13%;
    left: 5%;
    visibility: hidden;
}

html{
    background: url(../images/minimalist_background_iv-wallpaper-1920x1080.jpg) no-repeat center center fixed;
}

body {
    margin:0;
    padding:0;
    background: linear-gradient(45deg, #dbdbdb 50%, transparent 55%);

}

#container {
    min-height:100%;
    position:relative;
}

#footer {
    bottom:0px;
    position:absolute;
    margin-top: 20px;
    background-image: linear-gradient(45deg, #dbdbdb, transparent 55%);;
    width:100%;
}

#text{
    position: relative;
    left: 200px;
}